#app-root-2026-beyond_gdp .app {
  .container_section__wide {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1100px;
    h3 {
      max-width: 100%;
    }
    p {
      max-width: 760px;
      margin: 0 0 20px 0;
    }
  }
  .container_section {
    box-sizing: border-box;
    padding: clamp(40px, 6vw, 64px) 10px;
    width: 100%;
    &.container_section--tint {
      background: var(--un-color-blue-lightest);
      border-bottom: 1px solid #ece7e2;
      border-top: 1px solid #ece7e2;
      margin: 40px 0;
      .bgdp_lead > p {
        font-size: 20px;
        font-weight: var(--un-font-weight-bold);
      }
      h3 {
        font-weight: var(--un-font-weight-boldest);
        font-size: var(--un-font-size-xxxl);
      }
      p {
        font-size: var(--un-font-size-normal);
      }
    }
  }
  .bgdp_chart_strip {
    background: var(--un-color-blue-lightest);
    padding: clamp(24px, 4vw, 40px) 0 1px;
  }
  .bullet_list {
    font-size: var(--un-font-size-normal);
    line-height: var(--un-line-height-normal);
    list-style: none;
    margin: 0 auto 20px;
    max-width: 1100px;
    padding: 0 0 0 10px;
    li {
      margin-bottom: 10px;
      padding-left: 35px;
      position: relative;
      &::before {
        background-color: var(--un-color-yellow-brand);
        content: '';
        height: 25px;
        left: 0;
        mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='70 105 230 215'><path d='M76.3,317.4l107.9-106.4-107-102.2h92.2s117.8,102.3,117.8,102.3l-110,106.4h-100.9v-.1Z'/></svg>") no-repeat center / contain;
        -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='70 105 230 215'><path d='M76.3,317.4l107.9-106.4-107-102.2h92.2s117.8,102.3,117.8,102.3l-110,106.4h-100.9v-.1Z'/></svg>") no-repeat center / contain;
        position: absolute;
        top: 0px;
        width: 25px;
      }
    }
  }
}
